Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.dll
*.tlh
*.bak
*.cache
*.ilk
*.log
*.suo
[Bb]in/
[Dd]ebug*/
[Dd]ebug/SQLCommand/
[Bb]in/*.dll
[Bb]in/*.pdb

*.lib
*.sbr
DB.xml
obj/
[Rr]elease*/
obj/
[Dd]ebug*/

_ReSharper*/
[Tt]est[Rr]esult*


