<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。

    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中

-->
<configuration>
  <configSections />
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_WcfService" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <readerQuotas maxDepth="32000" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          <security mode="None">
            <transport realm="" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://116.168.1.4/ServiceHost/BLLBaseService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WcfService" contract="IServices.IBLLBaseService" name="IBLLBaseService"/>
      <endpoint address="http://116.168.1.4/ServiceHost/SecurityService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WcfService" contract="IServices.Security.ISecurityService" name="ISecurityService"/>-->
      <endpoint address="http://localhost:8862/BLLBaseService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WcfService" contract="IServices.IBLLBaseService" name="IBLLBaseService" />
      <endpoint address="http://localhost:8862/SecurityService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WcfService" contract="IServices.Security.ISecurityService" name="ISecurityService" />
    </client>
  </system.serviceModel>
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。

        -->
    <httpRuntime maxRequestLength="2097151" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms name="Login" loginUrl="Login.aspx" protection="All" timeout="600" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorMsg.aspx" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页

            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <sessionState mode="InProc" timeout="30" />
    <httpHandlers>
      <add path="FastReport.Export.aspx" verb="*" type="FastReport.Web.Handlers.WebExport" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="FastReportHandler" path="FastReport.Export.aspx" verb="*" type="FastReport.Web.Handlers.WebExport" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <connectionStrings>
    <add name="SortDBEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=SortDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>